<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{{ url_for('animals.all') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="header__img" src="{{ url_for ('static', filename = 'img/logo.jpg') }}" alt="logo">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ url_for('animals.all') }}" class="nav-link px-2 text-secondary">Главная</a></li>
            {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('post.create') }}" class="nav-link px-2 text-white">Добавить животное</a></li>

        {% endif %}


        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

    <div class="text-end">
        {% if current_user.is_authenticated %}
            <span>Добро пожаловать, {{ current_user.login }}</span>
            <a href="{{ url_for('user.logout') }}" class="btn btn-outline-light me-2">Выйти</a>
        {% else %}
            <a href="{{ url_for('user.login') }}" class="btn btn-outline-light me-2">Войти</a>
            <a href="{{ url_for('user.register') }}" class="btn btn-warning">Регистрация</a>
        {% endif %}
    </div>
</div>
